/* reset styles*/
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("../Assignments/images/leopard.png");
  font-family: 'Bree Serif', serif;
}

h1  {
  background-color: black;
  color: white !important;
  font-size: 48px !important;
  padding: 5px;
  border: 2px solid white;
}

#bigImg {
  margin-top: 10%;
  padding: 10px;
  border: 10px solid transparent;
  border-image: url("../Assignments/images/sunburst.jpg") 10% round;
}

#imgGallery {
  margin: 2%;
  padding-top: 5%;
  padding-bottom: 2%;
  background-color: #FC814A;
  border: 2px solid white;
}

.img-thumbnail:hover {
  border: 0;
  background-color: black;
}
